DATABASE_URL=mongodb://localhost:27017/ultralytics_annotation
# Google Cloud Settings
GOOGLE_APPLICATION_CREDENTIALS=path/to/your/service-account-key.json
PROJECT_ID=your-gcp-project-id
STORAGE_BUCKET=your-bucket-name

# Application Settings
DEBUG=True

# API Settings
API_V1_STR=/api/v1
